@model LV3.Models.PatientDoctors
@{
    ViewBag.Title = "AddPatientToDoctor";
}

<h2>Add new patient for doctor: @Model.Doctor.DoctorName</h2>

@using (Html.BeginForm("AddPatientToDoctor", "Doctors"))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.PatientId, new SelectList(Model.Patients, "PatientId", "PatientName"),
            new { @class = "form-control" })

        @Html.HiddenFor(m => m.DoctorId)
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add patient to doctor</button>
    </div>
}